extends ../layouts/default

block content
	.container: .jumbotron
		h1 Hello there!
		p This is a website with quite some questionable content about three topics: Software for Gardening Unenthusiasts, High-Powder Tools for Classical Musicians, and Furniture for Sloppy Doctor Assitants.
		p You may notice that the website is utterly useless. But it's also quite benign. We can assure you that no animals were hurt during the testing of this website, only software deveropers' souls.
		p Just to demostrate to you how useless the website is and how unimaginative the authors of this website are, here are some links to wikipedia about <a href="https://en.wikipedia.org/wiki/Garden_tool" target="_blank" rel="external">Garden Tools</a>, <a href="https://en.wikipedia.org/wiki/Classical_music" target="_blank" rel="external">Classical Music</a>, and <a href="https://en.wikipedia.org/wiki/Door_furniture" target="_blank" rel="external">Door Furniture</a>. You may wonder why the last link is about door furniture, and not about doCtor furniture, as you may have resoanably expected. This is because a 5-sec search didn't return any Wiki pages about doctor furniture. In case you feel disappointed, here is a link to an article about doctor-related furniture, aka <a href="https://en.wikipedia.org/wiki/Cabinetry" target="_blank" rel="external">Cabinetry</a>.
		h2 Software for Gardening Unenthusiasts
		p Gardening is hard fun. Some are people are excited by it; some dread it. But all agree that gardening software is going to be the next gold mine for software developers. All those uninspiring pictures of cucumbers hanging in a greenhouse, and exotic flowers that bloom for a half day before disintegrating in brown mesh, and endless green rows of potato crops that are going in a sluterhouse called "crisps" factory - all of them need to be visually captured, beautified and funnelled in the huge time-waste enterprise called "hey look, my life is glamorous, and I even have a worthy hobby." So the developers of donkey-mounted photocameras shall rejoice and push out of the market those polluting, coal-powered flying drones, by offering the most stubborn photo-taking solution of the day.
		p(align="middle")
			img(src="/images/GardenTools.jpg", alt="Manual Earth Scratchers", width="300", height="auto")
		br
		hr
		br
		h2 High-Power Powder Tools for Classical Musicians
		p You can't have too much powder. Especially, when it comes to classical music. How was Beethoven supposed to get inspiration for his Symphony No. 9 (thanks Wiki for educating me) if not by spraying powder all over the grotesc wiggly wig mounted on his head? Powder keeps your wig dry and ensures others that you've spent your morning running in the fields collecting pollen like a decent bee. Powder terrifies all allergics around you and ensures no obnoxious sneething will ever interrupt your performance. Despite all these benefits to middle-aged musicians, applying powder was too much of a deterrent: it required muscles and determination to meticulously beat the powder in every hair on your head. But worry no more. High-power tools can blast the powder deep in your scalp, so even new hairs will be coming full of magic rejuvenating inspiration. The UnicornsHateRainbow Inc. is working tireless on the tools that may not save your day, but will definitely waste your money and those who (not) paid for your education.
		p(align="middle")
			img(src="/images/ClassicalMusic.jpg", alt="Rotten Pitch Music Instruments", width="300", height="auto")
		br
		hr
		br
		h2 Furniture for Sloppy Doctor Assitants
		p You lucky bastard. You have probably never assisted a sloppy doctor. Dropping carefully steralized scalpels on innocent slambering patients in an operating theathre. No wonder that nose job looked botched... And you - as a young assitant to the doctor - is tasked with timely capture of the scalpels before they reach the patient, mind your fingers. The second best solution to the patient not becoming a dart target is having the right furniture. The best solution would be revoking doctor's licence, but he's got friends in the licensing agency, so that's not gonna happen, and we are back to the furniture option. Always choose wooden furniture. The more woods it has, the better. Stockpile the furniture in the operating theathre, stockpile all surgery tools in the furniture, barricade the entrance in the teathre using furniture before the doctor walked in, and do the surgery yourself. You get lots of valuable practice, lots of fun watching dumb faces of already dumb doctors, and your fingers staying in place. Good luck.. 
		p(align="middle")
			img(src="/images/Drawers.jpg", alt="Splinter Maker, aka old furniture", width="300", height="auto")
		br
		hr
		br
		div(style="width:100%")
			p These is some sponsored content about doctors, gardening and classical music
			br
			div(style="float:left; width:30%;")
